

body {
	/*background-color: #000000;*/
	font-family: Roboto, sans-serif;
	margin: 0px;
	overflow: hidden;
    /*overflow: auto;*/

}

h3{
	text-align: right;
	margin-right: 50px;
	color: #cccccc;
}



/*body
    {
        font-family: Roboto, sans-serif;*/
        /*color: #0f3c4b;
        background-color: #e5edf1;
        padding: 5rem 1.25rem;*/ /* 80 20 */
/*    }*/

#render {
    overflow: hidden;
}

._block {
	display: block;
}
._inline {
	display: inline;
}
._inlineblock {
	display: inline-block;
}

._buttom {
	position: fixed;
    bottom: 0;
    padding-bottom:60px;
}

._center{
	text-align: center;
}

._fontSS{
    font-size: 12px;
}

._fontM{
    font-size: 16px;
}

._borderM{
    /*box-sizing: border-box;*/
    border: 2px solid white;
}

._center2{
    vertical-align: middle
}



.container {
    /*min-width: 800px;*/
    /*min-height: 550px;*/
    text-align: center;
    position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 90%;
	height: 50%;
	border-radius: 3px;
	font-size: 16px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*background-color: #eeeeee;*/
    padding: 16px;

}


label.buttonLoad input[type="file"] {
    position: fixed;
    top: -1000px;
}

.button {
    background-color: #4CAF50; /* Green */
    border-radius: 0px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*font-family: Arial, Helvetica, sans-serif; */
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}



.buttonLoad {
    background-color: white; 
    color: black; 
    border: 2px solid #000000;
}

.buttonLoad:hover {
    background-color: #555555;
    color: white;
}

.buttonLoad:active {
	color: white;
	background-color: black;
	transition: 0.01s;
}

/*#drop_zone {
	text-align: center;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;*/
	/*font-size: 16px;*/
    /*font-family: Arial, Helvetica, sans-serif; */
    /*border: 4px dashed #ffffff;user-select: none;    display: none;*/

    /*width: 100%;
    height: 100%;
    background: #555555;
    opacity: 0.5;
    outline: 4px dashed #ffffff;
    outline-offset: -15px;
	visibility: hidden;
}*/

#drop_zonetext {
	text-align: center;
	margin: auto;
	width: 80%;
    padding: 5% 0;
}

input[type=range] {
    vertical-align: middle;
}




/*Viewport & HUD*/

#chkLabel{
    transform: translateY(-10px);
    margin-left: 8px;
}
.menu {
	display: inline-block;
	z-index: 0;
	background-color: #000;
	opacity: 0.7;
	float: right;

	width: 85px;
	height: 90px;
	position: fixed;
	top: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	transition: 0.5s;
	-webkit-transition: 0.5s; /* Safari */
	/*-moz-transition: 10.5s;*/
	/*padding-top: 60px;*/
}

.menu_console {
	padding-top: 100px;
}
.menu_content {
	margin-bottom: 0px;
	margin-left: 32px;
	color: #fff;
    
	visibility: hidden;
	opacity: 0.0;
	/*transition-delay: 0.5s;*/
	transition: 0.5s;
}

.menu_subcontent {
    padding: 0 0 0 0;
    top: 0;
    bottom: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 32px;
    color: #fff;
    /*transform: translateY(-15px);*/
    visibility: hidden;
    opacity: 0.0;
    /*transition-delay: 0.5s;*/
    transition: 0.5s;
}

.menu_postfixcontent {
    padding: 0 0 0 0;
    top: 0;
    bottom: 0;
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 4px;
    color: #fff;
    /*transform: translateY(-15px);*/
    visibility: hidden;
    opacity: 0.0;
    /*transition-delay: 0.5s;*/
    transition: 0.5s;
}

.menu_controller {
    min-height: 300px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.menu_widthSS{
    width: 40px;
}

.menu_widthS{
    width: 70px;
}

.menu_widthM{
    width: 125px;
}

.menu_widthL{
    width: 185px;
}



.menu_list{
    color: #000;
    border: none;
    border-radius: 0px;
    background-color: #f1f1f1;
}

.menu_text{
    color: #000;
    border: none;
    border-radius: 0px;
    background-color: #f1f1f1;
}

.menu_num{
    color: #000;
    border: none;
    border-radius: 0px;
    background-color: #f1f1f1;
}

.menu_button {
	border: 2px solid #fff;
	/*background-color: #000;*/
	background: rgba(0, 0, 0, 0.0);
    cursor: pointer;
}


.menu_icon {
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    background-color: #000;
    opacity: 1.0;
    float: right;
    padding: 25px;
}

.menu_backicon {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    color: #fff;
    background-color: #000;
    /*float: left;*/
    padding-top: 6px;
    padding-left: 25px;
    visibility: hidden;
    font-size: 58px;
    opacity: 0.0;
    /*transition-delay: 0.5s;*/
    transition: 0.5s;
}

.bar1, .bar2, .bar3 {
    width: 36px;
    height: 4px;
    background-color: #fff;
    opacity: 1.0;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 5px) ;
    transform: rotate(-45deg) translate(-9px, 5px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -5px) ;
    transform: rotate(45deg) translate(-9px, -5px) ;
}


/*InputPage & Modal*/

.close-global {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    width: 95%; /* Full width */
    height: 50px; /* Full height */

    text-align: center;
    margin: auto;
    padding-top: 10px;

    /*padding: 0px 0px;*/
    /*border: 20px solid #888;*/
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 4px 20px;
    border: 1px solid #888;
    width: 50%;
}

.modal-button {
    background-color: #ffffff; 
    border-radius: 0px;
    border: border: 2px solid #000000;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    /*font-family: Arial, Helvetica, sans-serif; */
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
/*
.buttonLoad {
    background-color: white; 
    border: 2px solid #000000;
}

.buttonLoad:hover {
    background-color: #555555;
    color: white;
}

.buttonLoad:active {
    color: white;
    background-color: black;
    transition: 0.01s;
}*/


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* Format Img */
.mordal-img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


/* Drop Down Menu */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


/*Export Page*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}